
.card {


  margin-top: 20px;
  margin-left: 400px;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 50%; /* ajustez la largeur de la carte selon vos besoins */
}
